@import '~grid'

.social
  +sm('float', none)
  +sm('line-height', 1.5rem)
  float: right
  line-height: 4.375rem
  font-size: 1.5rem
  padding-top: 3px
  cursor: pointer

  &__twitter
    content: url('/img/twitter.svg')

  &__facebook
    content: url('/img/facebook.svg')
    margin-left: 21px

  &__instagram
    content: url('/img/instagram.svg')
    margin-left: 19px
