.container
  max-width: 1440px
  margin: 0 auto

// index.pug
.header-index-page
  background: url('/img/main-image.jpg')
  background-repeat: no-repeat
  min-height: 900px

.index-page-form-find-room
  position: relative
  padding: 70px 0 0 140px

// Login page
.header-login-page
  background: url('/img/image-login.jpg')
  background-repeat: no-repeat
  min-height: 753px

  &__form-login
    text-align: center
    margin-top: 163px

// Sign-in page
.header-sign-in-page
  background: url('/img/image-sign-in.jpg')
  background-repeat: no-repeat
  min-height: 772px

  &__form-sign-in
    text-align: center
    margin-top: 30px

// Search-room page
.search-room-page
  padding: 20px 140px 0 140px
  display: flex
  justify-content: space-between
