// Grid system
@import '~grid'

.container
  +container()

.debug
  +debug(rgba(0, 0, 0, 0.2), 1px solid #ffff00)
  z-index: 9999

// index.pug
.header-index-page
  position: relative
  background: url('/img/main-image.jpg')
  background-repeat: no-repeat
  min-height: 900px

.index-page-form-find-room
  +size-md(8)
  +md('padding-left', 0px)
  +md('margin', 0 auto)
  +size-sm(10)
  padding: 70px 0 0 140px

.footer-index-page
  +md('padding-top', 60px)
  +sm('padding-top', 30px)
  padding-top: 90px

// Login page
.header-login-page
  background: url('/img/image-login.jpg')
  background-repeat: no-repeat
  min-height: 753px

  &__form-login
    +size-md(8)
    +md('margin', 163px auto 0 auto)
    +size-sm(10)
    text-align: center
    margin-top: 163px

.footer-login-page
  +md('padding-top', 60px)
  +sm('padding-top', 30px)
  padding-top: 91px

// Sign-in page
.header-sign-in-page
  background: url('/img/image-sign-in.jpg')
  background-repeat: no-repeat
  min-height: 772px

  &__form-sign-in
    +size-md(8)
    +md('margin', 30px auto 0 auto)
    +size-sm(10)
    text-align: center
    margin-top: 30px

.footer-sign-in-page
  +md('padding-top', 60px)
  +sm('padding-top', 30px)
  padding-top: 89px

// Search-room page
.search-room-page
  padding: 20px 20px 0 20px
  display: flex
  justify-content: space-between
  max-width: 1160px
  margin: 0 auto

.footer-search-room-page
  +md('padding-top', 60px)
  +sm('padding-top', 30px)
  padding-top: 92px

// Room details page
.footer-room-details-page
  +md('padding-top', 60px)
  +sm('padding-top', 30px)
  padding-top: 90px

.room-page-line
  height: 1px
  background-color: #E5E5E5