section.pagination
  ul.pagination__list
    li.pagination__list-item.pagination__list-item_first 1
    li.pagination__list-item 2
    li.pagination__list-item 3
    li.pagination__list-item ...
    li.pagination__list-item 15
    li.pagination__list-item.pagination__list-item_last
  span.pagination__text 1 – 12 из 100+ вариантов аренды