@import '~grid'

.copyright
  +sm('min-height', 0)
  +sm('max-width', none)
  +sm('text-align', center)
  +sm('margin-top', 15px)
  min-height: 70px
  max-width: 1160px
  margin: 0 auto

  &__text
    +sm('line-height', 1.2rem)
    display: inline-block
    font-family: Montserrat, OpenSans, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 0.875rem
    line-height: 4.375rem
    color: rgba(31, 32, 65, 0.75)
