ul.footer-list-navigation
  li.footer-list-navigation__item О нас
  li.footer-list-navigation__item Новости
  li.footer-list-navigation__item.footer-list-navigation__item_margin-21 Служба поддержки
  li.footer-list-navigation__item.footer-list-navigation__item_margin-21 Услуги