@import '~grid'

.rules-room
  +md('text-align', start)
  margin-top: 34px

  &__block-rules
    +md('float', none)
    +md('margin', 0 auto 20px auto)
    max-width: 260px
    float: left

  &__block-cancel
    +xxl('margin-bottom', 50px)
    +md('float', none)
    +md('margin', 0 auto)
    +md('margin-bottom', 0)
    max-width: 340px
    float: left
    margin-left: 101px

  &__header
    +md('text-align', center)
    font-family: OpenSans, Quicksand, sans-serif
    font-style: normal
    font-weight: bold
    font-size: 1.1875rem
    line-height: 1.125rem
    color: #1F2041
    margin-bottom: 21px

    &_list
      padding-left: 20px

  &__list

    &-item
      margin-bottom: 10px
      position: relative

      &_text
        font-family: Montserrat, OpenSans, sans-serif
        font-style: normal
        font-weight: normal
        font-size: 0.875rem
        line-height: 1.5rem
        color: rgba(31, 32, 65, 0.75)
        padding: 0 5px 0 20px
        display: block

      &_circle
        position: absolute
        top: 7px
        left: 0
        width: 10px
        height: 10px
        display: inline-block
        background: rgba(31, 32, 65, 0.25)
        border-radius: 50%

  &__text
    font-family: Montserrat, OpenSans, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 0.875rem
    line-height: 1.5rem
    color: rgba(31, 32, 65, 0.75)

