@import '~grid'

.main-menu
  display: inline-block
  line-height: 70px

  &-list
    cursor: pointer

    &__item
      display: inline
      font-family: Montserrat, OpenSans, sans-serif
      font-style: normal
      font-weight: normal
      font-size: 0.875rem
      line-height: 1.0625rem
      color: rgba(31, 32, 65, 0.5)
      margin-left: 21px

      &_baseline:after
        content: url("/img/expand-more.svg")
        position: relative
        top: 7px
        left: 1px

      &_margin-left-20
        margin-left: 20px

      &_none-992px
        +lg('display', none)

      &_none-768px
        +md('display', none)

      &_buttons-icon
        +md('display', inline)
        display: none
        content: url('/img/group-solid.svg')
        width: 32px
        vertical-align: middle

    &__link
      text-decoration: none
      font-family: Montserrat, OpenSans, sans-serif
      font-style: normal
      font-weight: bold
      font-size: 0.75rem
      line-height: 0.9375rem
      text-transform: uppercase
      color: #BC9CFF
      background: #ffffff
      border: 2px solid #BC9CFF
      border-radius: 22px
      padding: 9px 18px 5px 18px

      &:hover
        border: 2px solid rgba(188,156,255, 0.5)

      &_blue
        border: none
        padding: 11px 20px 6px 20px
        color: #ffffff
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)

        &:hover
          opacity: 0.5
          border: none

      &:first-child
        margin-right: 20px