menu.main-menu
  ul.main-menu-list
    li.main-menu-list__item О нас
    li.main-menu-list__item.main-menu-list__item_baseline Услуги
    li.main-menu-list__item Вакансии
    li.main-menu-list__item.main-menu-list__item_margin-left-20 Новости
    li.main-menu-list__item.main-menu-list__item_baseline.main-menu-list__item_margin-left-20 Соглашения
    li.main-menu-list__item
      a.main-menu-list__link(href="/login.html") войти
      a.main-menu-list__link.main-menu-list__link_blue(href="/sign-in.html") зарегистрироваться