ul.footer-list-about-us
  li.footer-list-about-us__item О сервисе
  li.footer-list-about-us__item Наша команда
  li.footer-list-about-us__item.footer-list-about-us__item_margin-21 Вакансии
  li.footer-list-about-us__item.footer-list-about-us__item_margin-21 Инвесторы