.room-details-main
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  justify-content: center

  &__additional-images img
    display: block

  &__information
    padding: 70px 70px 62px 0px
    max-width: 780px
    float: left
