main.room-details
  div.room-details__main-image
    img(src="/img/room-details-image-main.jpg", alt="room-details-main")
  div.room-details__additional-images
    img(src="/img/room-details-image-1.jpg", alt="room-details-image-1")
    img(src="/img/room-details-image-2.jpg", alt="room-details-image-2")
  section.room-details__information
    include ../number-information/number-information
    include ../room-impressions/room-impressions
    include ../feedback/feedback
    include ../rules-room/rules-room
