article.switch
  label.switch__label.switch__label_man
    input.switch__radio(type="radio", name="sex", checked)
    span.switch__radio_radiomark
  label.switch__label.switch__label_woman
    input.switch__radio(type="radio", name="sex")
    span.switch__radio_radiomark