- const switchBlock = [
-   {checked: "checked", clazz: "man"},
-   {checked: "", clazz: "woman"}
- ]

article.switch
  each item in switchBlock
    label.switch__label(class="switch__label_" + item.clazz)
      input.switch__radio(type="radio", name="sex", checked=item.checked)
      span.switch__radio_radiomark
