article.switch
  label.switch__label.switch__label_man
      input.switch__input(type="radio", name="sex", checked)
  label.switch__label.switch__label_woman
    input.switch__input(type="radio", name="sex")