mixin debug()
  div.debug
    div
      div
          div
          div
          div
          div
          div
          div
          div
          div
          div
          div
          div
          div