form.form-login
  h2.form-login__header Войти
  input.form-login__input(type="email", placeholder="Email", tabindex="1")
  input.form-login__input.form-login__input_margin-10(type="password", placeholder="Пароль", tabindex="2")
  input.form-login__submit(type="submit", value="войти", tabindex="3")
  p.form-login__text Нет аккаунта на Toxin?
  input.form-login__create(type="button", value="создать")
