section.room-impressions
  h3.room-impressions__header Впечатления от номера
  div.room-impressions__container
    div.room-impressions__container.room-impressions__container_left
      div.room-impressions__circle.room-impressions__circle_top-left
      div.room-impressions__circle.room-impressions__circle_bottom-left
    div.room-impressions__container.room-impressions__container_right
      div.room-impressions__circle.room-impressions__circle_top-right
      div.room-impressions__circle.room-impressions__circle_bottom-right
