extends ../pug/base-head

block content
  div.container
    section.header-index-page
      include ../blocks/header/header
      include ../blocks/index-page-img-text/index-page-img-text
      div.index-page-form-find-room
        include ../blocks/form-find-room/form-find-room
    footer.footer-index-page
      include ../blocks/footer/footer