extends ../pug/base-head

block content
  div.container
    section.header-login-page
      include ../blocks/header/header
      div.header-login-page__form-sign-in
        include ../blocks/form-sign-in/form-sign-in
    include ../blocks/footer/footer