extends ../pug/base-head

block content
  div.container
    section.header-index-page
      include ../blocks/header/header
      div.index-page-form-find-room
        include ../blocks/form-find-room/form-find-room
      //-span.index-page-bottom-img-text
        //-include ../blocks/index-page-img-text/index-page-img-text
    include ../blocks/footer/footer