extends ../pug/base-head

block content
  div.container
    section.header-login-page
      include ../blocks/header/header
      div.header-login-page__form-login
        include ../blocks/form-login/form-login
    footer.footer-login-page
      include ../blocks/footer/footer