extends ../pug/base-head
include ../pug/smartgrid

block content
  //-+debug()
  div.container
    include ../blocks/header/header
    include ../blocks/room-details-main/room-details-main
    div.room-page-line
    footer.footer-room-details-page
      include ../blocks/footer/footer