extends ../pug/base-head

block content
  div.container
    include ../blocks/header/header
    main.search-room-page
      include ../blocks/search-room-aside/search-room-aside
      include ../blocks/list-numbers/list-numbers
    include ../blocks/footer/footer