extends ../pug/base-head
include ../pug/smartgrid

block content
  //-+debug()
  div.container
    section.header-sign-in-page
      include ../blocks/header/header
      div.header-sign-in-page__form-sign-in
        include ../blocks/form-sign-in/form-sign-in
    footer.footer-sign-in-page
      include ../blocks/footer/footer