ul.footer-list-subscribe
  li.footer-list-subscribe__item Получайте специальные предложения и новости сервиса
  li.footer-list-subscribe__item
    input.footer-list-subscribe__item-email(type="email", placeholder="Email")