ul.footer-list
  li.footer-list__item.footer-list__item_logo
    include ../footer-logo/footer-logo
  li.footer-list__item.footer-list__item_navigation навигация
    include ../footer-list-navigation/footer-list-navigation
  li.footer-list__item.footer-list__item_about-us о нас
    include ../footer-list-about-us/footer-list-about-us
  li.footer-list__item.footer-list__item_support Служба поддержки
    include ../footer-list-support/footer-list-support
  li.footer-list__item.footer-list__item_subscription Подписка
    include ../footer-list-subscribe/footer-list-subscribe