.footer-list
  padding: 0 0 101px 140px

  &__item
    display: inline-block
    vertical-align: top
    font-family: Montserrat
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 15px
    text-transform: uppercase
    color: #1F2041

    &_logo
      margin-right: 40px
      margin-top: 9px

    &_navigation
      margin-right: 58px
      margin-top: 14px

    &_about-us
      margin-right: 93px
      margin-top: 14px

    &_support
      margin-right: 52px
      margin-top: 14px

    &_subscription
      margin-top: 14px