.calendar
  position: absolute
  width: 100%
  background: #FFFFFF
  border: 1px solid rgba(31, 32, 65, 0.25)
  box-sizing: border-box
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)
  border-radius: 4px
  padding: 18px 19px 18px 19px
  max-width: 320px
  margin: 330px 0 0 193px

  &__month-list
    text-align: center
    margin-bottom: 31px
    position: relative
    list-style-type: none

    &-prev
      position: absolute
      content: url('/img/arrow-back-blue.svg')
      top: 1px
      left: 0px
      cursor: pointer

    &-next
      position: absolute
      content: url('/img/arrow-forward-blue.svg')
      top: 1px
      right: 0px
      cursor: pointer

    &-header
      font-family: Quicksand
      font-style: normal
      font-weight: bold
      font-size: 19px
      line-height: 24px
      color: #1F2041
      letter-spacing: 2.5px

  &__table
    margin-bottom: 19px

    &-weekday
      width: 40px
      height: 40px
      font-family: Montserrat
      font-style: normal
      font-weight: bold
      font-size: 12px
      line-height: 40px
      color: #BC9CFF
      text-align: center

    &-day
      width: 40px
      height: 40px
      font-family: Montserrat
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 40px
      color: rgba(31, 32, 65, 0.5)
      display: inline-block
      text-align: center
      cursor: pointer

      &_active
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
        border-radius: 22px
        width: 40px
        height: 40px
        font-family: Montserrat
        font-style: normal
        font-weight: bold
        font-size: 12px
        line-height: 40px
        color: #FFFFFF
        display: inline-block
        text-align: center

      &_intermediate
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
        opacity: 0.25

  &__buttons

    &-clean
      font-family: Montserrat
      font-style: normal
      font-weight: bold
      font-size: 12px
      line-height: 15px
      text-transform: uppercase
      color: rgba(31, 32, 65, 0.5)
      cursor: pointer
      border: none
      background: #ffffff
      padding: 0

    &-apply
      font-family: Montserrat
      font-style: normal
      font-weight: bold
      font-size: 12px
      line-height: 15px
      text-transform: uppercase
      color: #BC9CFF
      cursor: pointer
      border: none
      background: #ffffff
      padding: 1px
      float: right

