header.header
  section.header-container
    span.header-container_block-992px.js-header-menu-icon
    a.header-container__logo(href="/index.html")
      include ../logo/logo
    include ../main-menu/main-menu
